body {
  /* font-family: "Inter", system-ui; */
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Consolas", "Courier New", monospace;
  padding: 32px;
}

:root {
  --gap: 1rem;
  --border-color: #e9e9e9;
  --grey: #9b9b9b;
}

* {
  font-size: 16px;
  margin: 0;
}

.theaters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: var(--gap);
  margin-bottom: var(--gap);
  position: relative;
}

.theaters-grid::after {
  content: "";
  position: absolute;
  background-color: var(--border-color);
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
}

.theater {
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.hr {
  border-bottom: 1px solid var(--border-color);
  margin: 1rem 0;
}

.movie {
  margin: 1rem 0;
}

.screenings {
  margin-left: 1rem;
}

a {
  color: inherit;
  text-decoration: underline dotted black 1px;
}

a:hover {
  text-decoration: underline;
}

summary h3 {
  display: inline-block;
}

h3 {
  margin: 0;
}

td {
  padding-inline-end: 1ch;
  font-variant-numeric: tabular-nums;
}

.pre-text {
  white-space: pre-wrap;
}

.nowrap {
  white-space: nowrap;
}

details summary {
  position: relative;
}

details summary::marker {
  display: none;
  content: "";
}

details summary::after {
  display: inline;
  content: "[-]";
  color: var(--grey);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  right: 100%;
}

details:hover summary::after {
  opacity: 1;
}

.seen-link {
  color: var(--grey);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

details:hover .seen-link {
  opacity: 1;
}

.day-ahead {
  display: inline-block;
}

.day-ahead + .day-ahead {
  margin-left: 1ch;
}

.selected {
  text-decoration: underline;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

table tr + tr td {
  padding-top: 0.2rem;
}

table td + td {
  padding-left: 0.2rem;
}

details summary {
  color: var(--grey);
}

details[open] summary {
  color: black;
}
